.popup__save-info {
  width: 238px;
  height: 46px;
  background: #000000;
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin-top: 15px;
  transition: opacity 0.3s;
}
@media screen and (min-width: 880px) {
  .popup__save-info {
    width: 358px;
    height: 50px;
    margin-top: 18px;
  }
}
.popup__save-info:hover {
  opacity: 0.8;
  cursor: pointer;
}
