.popup__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 75px;
}
@media screen and (min-width: 880px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
    padding-top: 34px;
    padding-bottom: 54px;
  }
}
