.form__edit {
    width: 238px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 30px;
    padding: 0 0 11px;
}
@media screen and (min-width: 880px) {
    .form__edit {
        width: 358px;
        height: 27px;
    }
}